
.cont2{
  text-align: center;
  margin: 30px auto ;
  padding: 4px;
 
}
.cont2 h4{
  font-weight: bold;
 margin-top: 20PX;
 padding: 3px;
}

.cont2 p{
  
 
  color: grey;
}

/*STYLE FORM*/

#contactForm{
  margin-top:30px;
}

/* Forms
=========================== */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=tel] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
#map{
  height:600px;
  width:100%;
  margin: 0 auto;
  box-sizing: border-box;
}



