/* ###########################################
 *    ###### Global Styles Start #######     */

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


 /*    ###### Global Styles End #######
 * ######################################## */




 /* ###########################################
 *        ###### Navbar Start #######        */
 .navbar {
    background-color: #fff;
    border-bottom: 1px solid lightgray;
}

.navbar .navbar-brand {
    color: rgb(54, 130, 254);
}

.navbar .navbar-brand:hover {
    color: rgb(54, 130, 254);
}
.navbar .nav-item .nav-link {
    color: #000;
}

.navbar .nav-item .nav-link:hover {
    color: rgba(54, 130, 254, 0.8);
}

.navbar .nav-item.active .nav-link {
    color: rgb(54, 130, 254);
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav 
.nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark
 .navbar-nav .show>.nav-link {
    color: rgb(54, 130, 254);
 }

#cart-icon-div {
    position: relative;
}

#cart-icon-div #cart-items {
 position: absolute;
 right: -3px;
 bottom: 15px;
 border-radius: 50%;
 padding: 1px 5px;
 color: rgb(54, 130, 254);
 font-weight: 500;
 font-size: 14px;
}
.dropdown-toggle::after {
    margin: 0;
}

.navbar-dark .navbar-toggler {
    background-color: rgb(54, 130, 254);
}

.navbar-dark .navbar-toggler:focus {
    outline: none;
}
/*        ###### Navbar End #######
 * ######################################## */




 /* ###########################################
 *        ###### Home Start #######        */
 .home
 {
     font-family: sans-serif;
 }
 
 .one
 {
     background-image: url(../img/demo04_01_600x.jpg);
     background-size: cover;
     background-position: center;
     height: 80vh;
     border: 10px solid #fff;
     box-sizing: border-box;
 
 }
 .onetext
 {
     background-color: white;
     opacity: 0.8;
     margin: auto;
     align-items: center;
     border-radius: 10px;
     font-family: 'Hind', sans-serif;
     padding: 18px 40px;
 }
 .onetext:hover 
 {
     background-color: white;
     opacity: 0.8;
     padding: 20px 50px;
 }
 
 
 .two
 {
     background-image: url(../img/demo04_02_300x.jpg);
     background-size: cover;
     background-position: center;
     height: 40vh;
     border: 10px solid #fff;
     box-sizing: border-box;
 }
 .twotext
 {
     background-color:rgba(255,255,255,0.9);
     opacity: 0.8;
     margin: auto;
     align-items: center;
     border-radius: 10px;
     padding: 15px 30px;
 
 }
 .twotext:hover
 {
     background-color:#00a3cc;
 }
 
 
 
 .three
 {
     background-image: url(../img/demo04_03_300x.jpg);
     background-size: cover;
     background-position: center;
     height: 40vh;
     border: 10px solid #fff;
     box-sizing: border-box;
 }
 .threetext
 {
     background-color:rgba(255,255,255,0.9);
     opacity: 0.8;
     margin: auto;
     align-items: center;
     border-radius: 10px;
     padding: 15px 30px;
 
 }
 .threetext:hover
 {
     background-color:#00a3cc;
 }
 
 
 
 .four
 {
     background-image: url(../img/demo04_04_600x.jpg);
     background-size: cover;
     background-position: center;
     height: 40vh;
     border: 10px solid #fff;
     box-sizing: border-box;
 }
 .fourtext
 {
     background-color: white;
     opacity: 0.8;
     font-size: 10px;
     margin: auto;
     align-items: center;
     border-radius: 10px;
     padding: 20px 40px;
 
 }
 .fourtext:hover 
 {
     background-color: white;
     padding: 25px 50px;
 }
 
 /*        ###### Home End #######
 * ######################################## */
 
 



/* ###########################################
 *        ###### About Start #######        */
 .about
{
    background-image: url(../img/about_01.png);
    background-size: cover;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.lowerpart
{
    margin: 100px 0;
}
/*        ###### About End #######
* ######################################## */
 
 

/* ###########################################
 *  ###### Products Slider Start #######     */


/*   ###### Porducts Slider End #######
* ######################################## */
 
 
/* ###########################################
 * ###### Product Card Component Start ####### */
.card .product-top {
    position: relative;
}

.card .product-top .product-overlay {
    position: absolute;
    top: 20%;
    right: 4%;
    padding: 8px 10px;
    background-color: #fff;
    color: rgb(65, 65, 65);
    border-radius: 50%;
    transform: scale(0);
    overflow: hidden;
    transition: all .25s;
}

.card:hover .product-overlay {
    transform: scale(1.1);
    overflow: hidden;
}

.card .product-top .product-overlay:hover {
    cursor: pointer;
    background-color: #0069D9;
    color: #fff;
}

.card .card-body * {
    margin: 2px;
}

.card .card-body {
    padding: 5px;
    position: relative;
    background-color: #fff;
    transition: all .25s;
}

.card:hover .card-body {
    transform: translate(0, -50px);
}

.card .card-body button {
    transform: scale(0);
    transition: all .25s;
}

.card:hover button {
    left: 0%;
    right: 0%;
    transform: scale(1);
}


.modal .modal-dialog {
    top: 10%;
    max-width: 60%;
}
/* ###### Product Card Component End #######
 * ######################################## */



/* ###########################################
 * ###### Products Slider Start ####### */
.carousel-control-prev, .carousel-control-next {
  background-color: #0069D9;
  top: 30%;
  bottom: 60%;
  width: 50px;
}

.carousel-control-prev {
  left: 40px;
}

.carousel-control-next {
  right: 40px;
}
/* ###### Products Slider End  #######
 * ######################################## */





/* ###########################################
 * ###### 4th section Start ####### */
 .sec4 {
    font-family: 'Hind', sans-serif;
}

.foursec1 {
    background-image: url(../img/demo04_05_600x.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    border: 10px solid #fff;
}

.foursec1txt {
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
    padding: 25px 70px;
}

.foursec1txt:hover {
    padding: 30px 90px;
}

.foursec2 {
    background-image: url(../img/demo04_06_600x.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    border: 10px solid #fff;
}

.foursec2txt {
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
    padding: 25px 75px;
}

.off {
    color: blue;
}

.foursec2txt:hover {
    padding: 30px 100px;
}
/* ###### 4th Section End #######
 * ######################################## */


 


/* ###########################################
 * ###### footer section Start ####### */
 .footer-above
 {
     background: #2879fe;
 }
 .footer .InTouch h6
 {
     color: #fff;
 }
 
 #button-addon2
 {
  background: black;
  color: #fff;
 }
 .social_ico {
     margin-bottom: 0;
 }
 .social .social_ico li { color: #fff; list-style: none; display: inline-block; }
 .social .social_ico li:hover{  color: black; }
 
 
 .footer-sections li
 {
     list-style: none;
 }
 .footer-sections a 
 {
    color: #888888; 
     text-decoration: none;
 }
 .footer-sections .MainTiltle a
 {
     color:#191919;
 }
 
 .footer-sections  a:hover{  color: #2879fe; }
 
 
 @media (max-width:380px){
     .footer-sections{
 /*        text-align: center;*/
         font-size: 9px;
         
     }
     .footer-sections .MainTiltle a{
         margin-bottom: 3px;
         
     }
     .footer-above{
         display: none;
     }
      }
/* ###### footer Section End #######
 * ######################################## */

